<img src="./image/hsfrsl.jpg"/>

# Introduction #

In this workshop, we will try to predict the price of houses in the city of Boston and its surroundings.\
To do this, the workshop will be divided into several parts:
   - Data processing
   - Creation of the model
   - Interpretation of the results.
        
Pour cela nous utiliserons la librairie sklearn : [sklearn](https://scikit-learn.org)

## Import ##

- `pandas`: data manipulation and analysis
- `numpy`: support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data processing 1.1 #

## dataset ##

Sklearn proposes to load datasets.\
You can see the list of datasets available here : [datasets](https://scikitlearn.org/stable/datasets/toy_dataset.html)

The dataset we are interested in is called : Boston house prices dataset\
To perform this task, you must import the function that allows to load this dataset from sklearn.datasets.\
with the parameter `return_X_y=False`\
call the variable `boston_dataset`

[load_boston](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_boston.html)

In [8]:
# chargez la dataset de boston (~ 2 lignes)

# début du code
from sklearn.datasets import load_boston
boston_dataset = load_boston()
#fin du code

#### description of the dataset ####

you must now print the description of the dataset with the `DESCR` attribute

In [9]:
# affichez la description de votre dataset (~ 1 ligne)

#début du code
print(boston_dataset.DESCR)
#fin du code

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

## dataframe ##

Now create a dataframe using panda.\
call the variable `boston`
- data = data from the dataset
- columns = features names of the dataset

What is a dataframe : [dataframe](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#dataframe)\
Usage : [pd.DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

In [10]:
#Vous devez créer un dataframe (~ 1 ligne)

#début du code
boston = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
#fin du code

### Add house prices to your dataframe ###

You need to add the house price to your dataframe using the target attribute of your dataset.\
Display the head of your dataframe : [head](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html)

In [14]:
#Vous devez rajouter une colonne à votre dataframe boston['PRICE'] = ... (~ 1 ligne)
from IPython.display import display

#début du code
boston['PRICE'] = boston_dataset.target
display(boston.head())
#fin du code

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

If all is well you should see that each feature indicates 0, this indicates that the dataframe does not contain null values

In [13]:
print(boston.isnull().sum())

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64

In [15]:
sns.set(rc={'figure.figsize':(11.7,8.27)}, palette="flare")
sns.histplot(boston["PRICE"], bins=30)
plt.show()

NameError: name 'sns' is not defined